{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Kyle's Japan Life </h1>
                            <span class="subheading">Updates about my life in Japan!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content-->
        {% if current_user.is_authenticated %}
        <div class="d-flex justify-content-end mb-4">
            <a class="btn btn-primary rounded-pill" href="{{ url_for('add_new_post') }}">Create New Post</a>
        </div>
        {% endif %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                  <div class="d-flex justify-content-end mb-4">

                </div>

                <!-- Post preview-->
                {% for post in all_posts %}
                <div class="post-preview">
                    <a href="{{ url_for('show_post', post_id=post.id) }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    </a>
                    <p class="post-meta">Posted by {{ post.author }} on {{ post.date }}</p>
                </div>
                <hr class="my-4">
                {% endfor %}
<div class="d-flex justify-content-between mb-4">
    {% if pagination.has_prev %}
        <a class="btn btn-primary text-uppercase" href="{{ url_for('get_all_posts', page=pagination.prev_num) }}">← Newer Posts</a>
    {% else %}
    {% endif %}

    {% if pagination.has_next %}
        <a class="btn btn-primary text-uppercase" href="{{ url_for('get_all_posts', page=pagination.next_num) }}">Older Posts →</a>
    {% else %}
        <span class="btn btn-primary text-uppercase disabled">Older Posts →</span>
    {% endif %}
    </div>

        <!-- Footer-->
 {% include "footer.html" %}